.shrink-1 {
	flex-grow: 1;
	flex-shrink: 1;
}

.shrink-3 {
	flex-grow: 1;
	flex-shrink: 3;
}

.shrink-1-basis {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 150px;
}

.shrink-0-basis {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 150px;
}

.shrink-3-basis {
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: 150px;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* Flex Container */
.container {
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */
.item {
	margin: 5px;
	background: #8843EE;
	text-align: center;
	font-size: 1.5em;	
}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
  color: #FEFEFE;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
  background-color: #1B1D20;
}